In [2]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("/Users/namanpant/Downloads/rishab_path_last_1M.csv")

/var/folders/nv/z55hwk9s44768mxrw8h7j2bh0000gp/T/ipykernel_9911/712611599.py:1: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/namanpant/Downloads/rishab_path_last_1M.csv")

In [19]:
df.head()

,_id,telephone,User ID,Product ID,ts,pincode,platform,Rating,Session ID,User ID1,user_id_hashed
0,65120501,9848223709,9848223709,148912,2.022092e+13,533005,Android,0.5,143452.0,9848223709*143452,41278098
1,55395639,9848251185,9848251185,147855,2.022092e+13,503111,Web,0.5,143453.0,9848251185*143453,41278099
2,55395639,9848251185,9848251185,204585,2.022092e+13,503111,Web,0.5,143453.0,9848251185*143453,41278099
3,55395639,9848251185,9848251185,151243,2.022092e+13,503111,Web,0.5,143453.0,9848251185*143453,41278099
4,55395639,9848251185,9848251185,142995,2.022092e+13,503111,Web,0.5,143453.0,9848251185*143453,41278099

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   _id             1000000 non-null  int64
 1   telephone       1000000 non-null  object
 2   User ID         1000000 non-null  object
 3   Product ID      1000000 non-null  int64
 4   ts              1000000 non-null  float64
 5   pincode         982946 non-null   object
 6   platform        1000000 non-null  object
 7   Rating          1000000 non-null  float64
 8   Session ID      1000000 non-null  float64
 9   User ID1        1000000 non-null  object
 10  user_id_hashed  1000000 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 83.9+ MB

In [24]:
columns = df.columns
df = df.iloc[200000:, :]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 200000 to 999999
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _id             800000 non-null  int64
 1   telephone       800000 non-null  object
 2   User ID         800000 non-null  object
 3   Product ID      800000 non-null  int64
 4   ts              800000 non-null  float64
 5   pincode         786434 non-null  object
 6   platform        800000 non-null  object
 7   Rating          800000 non-null  float64
 8   Session ID      800000 non-null  float64
 9   User ID1        800000 non-null  object
 10  user_id_hashed  800000 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 67.1+ MB

In [30]:
df.shape
df.head()

,_id,telephone,User ID,Product ID,ts,pincode,platform,Rating,Session ID,User ID1,user_id_hashed
200000,47569202,7287937367,7287937367,148393,2.022092e+13,600113,Android,0.85,21922.0,7287937367*21922,41318925
200001,47569202,7287937367,7287937367,146461,2.022092e+13,600113,Android,0.50,21922.0,7287937367*21922,41318925
200002,47569202,7287937367,7287937367,146461,2.022092e+13,600113,Android,0.85,21922.0,7287937367*21922,41318925
200003,47569202,7287937367,7287937367,137950,2.022092e+13,600113,Android,0.50,21922.0,7287937367*21922,41318925
200004,47569202,7287937367,7287937367,148393,2.022092e+13,600113,Android,0.85,21922.0,7287937367*21922,41318925

In [29]:
print(df.iloc[0])

_id                       47569202
telephone               7287937367
User ID                 7287937367
Product ID                  148393
ts                20220917083807.0
pincode                     600113
platform                   Android
Rating                        0.85
Session ID                 21922.0
User ID1          7287937367*21922
user_id_hashed            41318925
Name: 200000, dtype: object

In [31]:
df.to_csv("userdata.csv", header = columns, index = False)

In [32]:
df = pd.read_csv("userdata.csv")

/var/folders/nv/z55hwk9s44768mxrw8h7j2bh0000gp/T/ipykernel_9911/3551052658.py:1: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("userdata.csv")

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _id             800000 non-null  int64
 1   telephone       800000 non-null  object
 2   User ID         800000 non-null  object
 3   Product ID      800000 non-null  int64
 4   ts              800000 non-null  float64
 5   pincode         786434 non-null  object
 6   platform        800000 non-null  object
 7   Rating          800000 non-null  float64
 8   Session ID      800000 non-null  float64
 9   User ID1        800000 non-null  object
 10  user_id_hashed  800000 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 67.1+ MB

In [34]:
df = df.loc[:10000,["telephone", "ts", "Rating"]]

In [35]:
df.head()

    telephone            ts  Rating
0  7287937367  2.022092e+13    0.85
1  7287937367  2.022092e+13    0.50
2  7287937367  2.022092e+13    0.85
3  7287937367  2.022092e+13    0.50
4  7287937367  2.022092e+13    0.85

In [36]:
df.shape

(10001, 3)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   telephone  10001 non-null  object
 1   ts         10001 non-null  float64
 2   Rating     10001 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [38]:
fdf = pd.DataFrame()

In [ ]:
df["ts"] =