This project is about house price prediction using Boston House Pricing data. I have used the following python libraries:

    numpy
    pandas
    matplotlib
    sklearn

In [ ]:
import numpy as np
import matplotlib as plt
import copy, math
from sklearn.datasets import load_boston
import pandas as pd

In [ ]:
boston = load_boston()

In [ ]:
data = np.array(boston.data)
df = pd.DataFrame(boston.data)

In [ ]:
data.shape

In [ ]:
boston.feature_names

In [ ]:
df.shape()

In [ ]:
df.info()

As we can, in our data the columns have not assigned any names. To do that we first need to extract the feature names from the data and then assign it in dataFrame.

In [25]:
df.columns = boston.feature_names

In [26]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

Now we can see the features name.

Let's have a look at the datatypes of different features present in the data.

In [27]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
dtype: object

In [31]:
# Identifying the unique number of values in the dataset
df.nunique()

CRIM       504
ZN          26
INDUS       76
CHAS         2
NOX         81
RM         446
AGE        356
DIS        412
RAD          9
TAX         66
PTRATIO     46
B          357
LSTAT      455
dtype: int64